@import "tailwindcss";

body {
  font-family: 'Roboto', system-ui, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;    
    padding-right: 1rem; 
}
